<script
  src="https://www.mercadopago.com/v2/security.js"
  view="success"
></script>

<div class="header">
  <a href="#" class="logo">Tienda Tecno</a>
</div>

<div>
  <div class="container-section">
    <div class="card" style="margin-top: 60px; text-align: center;">
      <div style="margin-bottom: 30px;">
        <h2>Error 404</h2>
      </div>

      <p>Esta página no existe.</p>
    </div>

    <div onclick="location.href='/'" class="container-button">
      <a href="/">Ir al inicio</a>
    </div>

  </div>
</div>