.header {
  overflow: hidden;
  background-color: #f1f1f1;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.container-state {
  margin-top: 44px;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  padding: 14px 8px;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  color: black;
  background-color: #f1f1f1;
  z-index: 100;
}

.container-state-success {
  color: white;
  background-color: #26b36a;
}

.container-state-pending {
  color: white;
  background-color: #ed6c02;
}

.container-state-error {
  color: white;
  background-color: #f23d4f;
}

.container-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px auto;
  position: relative;
  max-width: 600px;
}

.card {
  margin-top: -10px;
  padding: 30px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 8px 8px;
  flex-direction: column;
}

.card h6 {
  font-size: 16px;
}

.container-button {
  color: #0288d1;
  text-align: center;
  margin: 24px 0px;
}
